flows_contaazul.json
[
    {
        "id": "4097a5586d4dda60",
        "type": "tab",
        "label": "Conta Azul - ok ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a5270bf39d2b1e5f",
        "type": "tab",
        "label": "Conta Azul",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ee01ea9dc7f8444d",
        "type": "tab",
        "label": "node-red-contrib-oauth2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "56ab15c9e767d058",
        "type": "group",
        "z": "a5270bf39d2b1e5f",
        "name": "PRODUCTS",
        "style": {
            "label": true
        },
        "nodes": [
            "8eb6a30e696f032d",
            "ad10637843808906"
        ],
        "x": 28,
        "y": 693,
        "w": 1704,
        "h": 454
    },
    {
        "id": "bbb8a32611c2c037",
        "type": "group",
        "z": "a5270bf39d2b1e5f",
        "name": "AUTHENTICATION",
        "style": {
            "label": true
        },
        "nodes": [
            "466b68bd101cc969",
            "7e1a2f9059f99060",
            "3ce7547e36ce59f3"
        ],
        "x": 28,
        "y": 33,
        "w": 1204,
        "h": 634
    },
    {
        "id": "9d4745f75b37816d",
        "type": "group",
        "z": "a5270bf39d2b1e5f",
        "name": "SALES",
        "style": {
            "label": true
        },
        "nodes": [
            "520c4afdd2a2c58c",
            "d4955d968e26a214",
            "fdb14db95ecc5489",
            "3b12e437c83e0daf"
        ],
        "x": 28,
        "y": 1173,
        "w": 1924,
        "h": 714
    },
    {
        "id": "6096fe5c52cfd343",
        "type": "group",
        "z": "a5270bf39d2b1e5f",
        "name": "CUSTOMERS",
        "style": {
            "label": true
        },
        "nodes": [
            "b43dde4d98c875f2",
            "e94038d695093f33",
            "af723a6dc70c8d0c",
            "d437ac64422b7229",
            "8ef7304f87a2b516",
            "837c90f110656909",
            "0649b31b191683d2",
            "8aafeac1723a951f",
            "e926df5e9fdd5f13",
            "9bde48f6bc610288"
        ],
        "x": 34,
        "y": 1919,
        "w": 1632,
        "h": 162
    },
    {
        "id": "e90afc02c540d6bf",
        "type": "group",
        "z": "a5270bf39d2b1e5f",
        "name": "OUTROS",
        "style": {
            "label": true
        },
        "nodes": [
            "8668d2144ef6f1c7",
            "1d606b2c0278a39d",
            "e507970da3ab090e",
            "98b3bfc077fcc178",
            "171b661d899461a7",
            "8363ee16734aa229",
            "00b57c33cfb11cbb",
            "a562bd5b29300458",
            "7fd9165a4da698af",
            "9d8a234b6c840cec",
            "f1b30d04c9b97d4a",
            "72686b373891ff9a"
        ],
        "x": 34,
        "y": 2099,
        "w": 972,
        "h": 202
    },
    {
        "id": "e61e769088c22705",
        "type": "group",
        "z": "ee01ea9dc7f8444d",
        "name": "oauth2",
        "style": {
            "fill": "#bfc7d7",
            "label": true
        },
        "nodes": [
            "dbf002e7839fdaf4",
            "c11eb7aff843bd09"
        ],
        "x": 48,
        "y": 33
    },
    {
        "id": "8eb6a30e696f032d",
        "type": "group",
        "z": "a5270bf39d2b1e5f",
        "g": "56ab15c9e767d058",
        "name": "PRODUCT CATEGORIES",
        "style": {
            "label": true
        },
        "nodes": [
            "4642b89e9222ba63",
            "305f5fe9e6c555a9",
            "af6082a695d10792",
            "523bdef02e031da3",
            "690fdab22117e084",
            "04393361ea052f4e",
            "8859ca37fde68cd8",
            "6e99bacf77e40947",
            "2c35938c1ab9765d"
        ],
        "x": 54,
        "y": 719,
        "w": 1652,
        "h": 142
    },
    {
        "id": "ad10637843808906",
        "type": "group",
        "z": "a5270bf39d2b1e5f",
        "g": "56ab15c9e767d058",
        "name": "PRODUCTS LIST",
        "style": {
            "label": true
        },
        "nodes": [
            "859a498192a464e6",
            "7f682d4dd3a7350e",
            "a9f089bb889079ba",
            "cf6a8a293a3416f0",
            "8632dc1f7cae2e36",
            "96f25beefd9f4ad8",
            "2b4d93a7377daeb3",
            "4b96b4f4e88fa774",
            "6d1cc2dfd3f1a263",
            "2456fb26facc2e13"
        ],
        "x": 54,
        "y": 919,
        "w": 1632,
        "h": 202
    },
    {
        "id": "466b68bd101cc969",
        "type": "group",
        "z": "a5270bf39d2b1e5f",
        "g": "bbb8a32611c2c037",
        "name": "CREDENTIALS",
        "style": {
            "label": true
        },
        "nodes": [
            "8c67ec731a3c9cad",
            "406b0a21329cf8d1",
            "27e0ffbe491ea8f5",
            "ceee711fb518653f",
            "d820ad4eae640b0c",
            "10d7fda56335549d"
        ],
        "x": 54,
        "y": 59,
        "w": 892,
        "h": 122
    },
    {
        "id": "7e1a2f9059f99060",
        "type": "group",
        "z": "a5270bf39d2b1e5f",
        "g": "bbb8a32611c2c037",
        "name": "REFRESH",
        "style": {
            "label": true,
            "stroke": "#0070c0",
            "color": "#000000",
            "fill": "#7fb7df"
        },
        "nodes": [
            "d1ba341040cea0c3",
            "aa24d69faa1640cd",
            "efd1a2a910ca1051",
            "a8fca004e704e071",
            "9e9332c792dbdc01",
            "4030c52c.c2c29c",
            "31727a2c.05a026",
            "64d9243f.b7be7c",
            "3b67977c.a53c08"
        ],
        "x": 54,
        "y": 199,
        "w": 1152,
        "h": 162
    },
    {
        "id": "3ce7547e36ce59f3",
        "type": "group",
        "z": "a5270bf39d2b1e5f",
        "g": "bbb8a32611c2c037",
        "name": "TOKEN",
        "style": {
            "label": true
        },
        "nodes": [
            "c3a4a71d41598827",
            "1809fd1bf70e37c1",
            "4127bb1788d9d2ac",
            "c3df22dd001e6edf",
            "415fb04725a88f1f",
            "1e3bb891e03d3d9a",
            "361f24fcab9e4941",
            "5b03b7211002b51c",
            "7cbc36987152bf6d"
        ],
        "x": 54,
        "y": 379,
        "w": 732,
        "h": 262
    },
    {
        "id": "520c4afdd2a2c58c",
        "type": "group",
        "z": "a5270bf39d2b1e5f",
        "g": "9d4745f75b37816d",
        "name": "LIST SALES",
        "style": {
            "label": true
        },
        "nodes": [
            "bb85a7678e125257",
            "dbc564b793ab2147",
            "559f581f0b47ea55",
            "7c80bb99fb8dd6cf",
            "9e853932e5246287",
            "85400eee0244b9bf",
            "288faaaba62e9a21",
            "42652ca971069b48",
            "7bdb4f61e6364d06",
            "09f28a6bb15a86f2",
            "aa7d344c640480bd",
            "e2c59302d572a28d",
            "db8917699fd33413"
        ],
        "x": 54,
        "y": 1199,
        "w": 1632,
        "h": 182
    },
    {
        "id": "d4955d968e26a214",
        "type": "group",
        "z": "a5270bf39d2b1e5f",
        "g": "9d4745f75b37816d",
        "name": "LIST SALES ITEMS",
        "style": {
            "label": true
        },
        "nodes": [
            "b6a3304892da3876",
            "8394a30dc9e26b4a",
            "38ba0d7fa969840f",
            "71b447e4ec057c50",
            "e5b6127830cd9203",
            "e68697b67f6f0aa1",
            "44f4dc20024c4528",
            "3576871ba80bd4c5",
            "ac1058c7e9d5117f",
            "7f14a77456407be8"
        ],
        "x": 54,
        "y": 1399,
        "w": 1872,
        "h": 142
    },
    {
        "id": "fdb14db95ecc5489",
        "type": "group",
        "z": "a5270bf39d2b1e5f",
        "g": "9d4745f75b37816d",
        "name": "GET SALE",
        "style": {
            "label": true
        },
        "nodes": [
            "ec24e2f9a38a9c56",
            "3dfc0881926e24b1",
            "9dc031fb3dd47809",
            "ccc79a9b87589a0d",
            "56d7c30edea5a455",
            "d88f4d039f040eac",
            "6db64c6ff1f76750",
            "6497d0e79437e766"
        ],
        "x": 54,
        "y": 1559,
        "w": 1552,
        "h": 102
    },
    {
        "id": "3b12e437c83e0daf",
        "type": "group",
        "z": "a5270bf39d2b1e5f",
        "g": "9d4745f75b37816d",
        "name": "GET SALES TOTAIS",
        "style": {
            "label": true
        },
        "nodes": [
            "f725e856f8536fa5",
            "af4549b50d1d821d",
            "bf22b8e71c4d831a",
            "e431d47ac20af172",
            "05e86e4e8d3d1d2e",
            "72ea348eb03bafbb",
            "1cf8e60b301c5103",
            "5c8d657e91f0bf57",
            "40265c08de68bbd9",
            "36617a0d11f502d9"
        ],
        "x": 54,
        "y": 1699,
        "w": 1632,
        "h": 162
    },
    {
        "id": "dbf002e7839fdaf4",
        "type": "group",
        "z": "ee01ea9dc7f8444d",
        "g": "e61e769088c22705",
        "name": "by msg.oauth2Request",
        "style": {
            "label": true,
            "fill": "#bfdbef"
        },
        "nodes": [
            "bbb398a4c6b6581d",
            "0dbd3192fc8e6d8f",
            "7d1cd69bfec40f16",
            "5f5889fc9873830c",
            "5eedef6eb8215636",
            "1f9670457ea0fdeb",
            "e92113c4c92e02b9",
            "6adbb00a164f0d30",
            "aa78cee9cf6b05a4",
            "da4c05becf924c6a",
            "00bcb23670663c56"
        ],
        "x": 74,
        "y": 219
    },
    {
        "id": "c11eb7aff843bd09",
        "type": "group",
        "z": "ee01ea9dc7f8444d",
        "g": "e61e769088c22705",
        "name": "by node",
        "style": {
            "label": true,
            "fill": "#e3f3d3"
        },
        "nodes": [
            "fa297a2263ccab64",
            "b09fcda36b29337e",
            "68ce0e033979d11d",
            "92a15df57cfde3ad",
            "be9f8d3e5126b0aa",
            "457c466345b3c830",
            "41140191adba1afc"
        ],
        "x": 74,
        "y": 59
    },
    {
        "id": "7d1cd69bfec40f16",
        "type": "junction",
        "z": "ee01ea9dc7f8444d",
        "g": "dbf002e7839fdaf4",
        "x": 880,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "92a15df57cfde3ad",
        "type": "junction",
        "z": "ee01ea9dc7f8444d",
        "g": "c11eb7aff843bd09",
        "x": 860,
        "y": 120,
        "wires": [
            [
                "41140191adba1afc"
            ]
        ]
    },
    {
        "id": "0dbd3192fc8e6d8f",
        "type": "junction",
        "z": "ee01ea9dc7f8444d",
        "g": "dbf002e7839fdaf4",
        "x": 560,
        "y": 300,
        "wires": [
            [
                "bbb398a4c6b6581d"
            ]
        ]
    },
    {
        "id": "f131e02fdc178416",
        "type": "gauth",
        "name": "xxx@xxx"
    },
    {
        "id": "ee86852f62926632",
        "type": "oauth2",
        "z": "4097a5586d4dda60",
        "name": "",
        "container": "oauth2Response",
        "grant_type": "authorization_code",
        "access_token_url": " https://api.contaazul.com/oauth2/token",
        "authorization_endpoint": "https://api.contaazul.com/auth/authorize",
        "redirect_uri": "/oauth2/redirect_uri",
        "open_authentication": "",
        "username": "",
        "password": "",
        "client_id": "QwkQtN5hQVHWVfpJDr7J1pamiWjvFDeo",
        "client_secret": "Sra1MkjDU18SdsO5GTOz6hlTnMvthWM0",
        "scope": "Product",
        "client_credentials_in_body": false,
        "rejectUnauthorized": true,
        "headers": {},
        "x": 330,
        "y": 160,
        "wires": [
            [
                "d7a2041ef2683870"
            ]
        ]
    },
    {
        "id": "9e4d3edfde1766b9",
        "type": "inject",
        "z": "4097a5586d4dda60",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "ee86852f62926632"
            ]
        ]
    },
    {
        "id": "d7a2041ef2683870",
        "type": "debug",
        "z": "4097a5586d4dda60",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 160,
        "wires": []
    },
    {
        "id": "8c67ec731a3c9cad",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "466b68bd101cc969",
        "name": "Set Global Token",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "406b0a21329cf8d1",
        "type": "oauth2",
        "z": "a5270bf39d2b1e5f",
        "g": "466b68bd101cc969",
        "name": "Client Credentials",
        "container": "oauth2Response",
        "grant_type": "authorization_code",
        "access_token_url": "https://api.contaazul.com/oauth2/token",
        "authorization_endpoint": "https://api.contaazul.com/auth/authorize",
        "open_authentication": "",
        "username": "lcaloi",
        "password": "",
        "client_id": "client_id",
        "client_secret": "client_secret",
        "scope": "sales",
        "client_credentials_in_body": true,
        "rejectUnauthorized": true,
        "headers": {},
        "x": 390,
        "y": 100,
        "wires": [
            [
                "ceee711fb518653f",
                "d820ad4eae640b0c"
            ]
        ]
    },
    {
        "id": "27e0ffbe491ea8f5",
        "type": "inject",
        "z": "a5270bf39d2b1e5f",
        "g": "466b68bd101cc969",
        "name": "Client Credentials",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "10d7fda56335549d"
            ]
        ]
    },
    {
        "id": "4642b89e9222ba63",
        "type": "http request",
        "z": "a5270bf39d2b1e5f",
        "g": "8eb6a30e696f032d",
        "name": "List product categories",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "https://api.contaazul.com/v1/product-categories",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 820,
        "wires": [
            [
                "2c35938c1ab9765d"
            ]
        ]
    },
    {
        "id": "ceee711fb518653f",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "466b68bd101cc969",
        "name": "Set Global Token",
        "func": "global.set('refreshToken', msg.oauth2Response.refresh_token);\nglobal.set('accessToken', msg.oauth2Response.access_token);\nglobal.set('tokenType', msg.oauth2Response.token_type);\nglobal.set('expiresIn', msg.oauth2Response.expires_in);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 100,
        "wires": [
            [
                "8c67ec731a3c9cad"
            ]
        ]
    },
    {
        "id": "305f5fe9e6c555a9",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "8eb6a30e696f032d",
        "name": "Authorization",
        "func": "let accessToken = global.get('accessToken');\n\nmsg.headers = {};\n//msg.headers['Authorization'] = 'Bearer XXXX';\nmsg.headers['Authorization'] = 'Bearer ' + accessToken;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 820,
        "wires": [
            [
                "4642b89e9222ba63"
            ]
        ]
    },
    {
        "id": "af6082a695d10792",
        "type": "inject",
        "z": "a5270bf39d2b1e5f",
        "g": "8eb6a30e696f032d",
        "name": "List product categories",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "List product categories",
        "x": 200,
        "y": 820,
        "wires": [
            [
                "305f5fe9e6c555a9"
            ]
        ]
    },
    {
        "id": "859a498192a464e6",
        "type": "http request",
        "z": "a5270bf39d2b1e5f",
        "g": "ad10637843808906",
        "name": "List products by filters",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.contaazul.com/v1/products?size=999",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 1000,
        "wires": [
            [
                "6d1cc2dfd3f1a263"
            ]
        ]
    },
    {
        "id": "bb85a7678e125257",
        "type": "http request",
        "z": "a5270bf39d2b1e5f",
        "g": "520c4afdd2a2c58c",
        "name": "List sales by filters",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.contaazul.com/v1/sales?emission_start=2023-03-27&emission_end=2023-03-27",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 1280,
        "wires": [
            [
                "288faaaba62e9a21"
            ]
        ]
    },
    {
        "id": "8668d2144ef6f1c7",
        "type": "http request",
        "z": "a5270bf39d2b1e5f",
        "g": "e90afc02c540d6bf",
        "name": "List sellers",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.contaazul.com/v1/sales/sellers",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 2200,
        "wires": [
            [
                "1d606b2c0278a39d"
            ]
        ]
    },
    {
        "id": "d1ba341040cea0c3",
        "type": "inject",
        "z": "a5270bf39d2b1e5f",
        "g": "7e1a2f9059f99060",
        "name": "Refresh Token",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 240,
        "wires": [
            [
                "aa24d69faa1640cd"
            ]
        ]
    },
    {
        "id": "aa24d69faa1640cd",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "7e1a2f9059f99060",
        "name": "Refresh Token",
        "func": "let refreshToken = global.get('refreshToken');\n\nmsg.oauth2Request = { \n    \"access_token_url\": \"https://api.contaazul.com/oauth2/token\",\n    \"credentials\": {\n        \"grant_type\": \"refresh_token\",\n        \"client_id\": \"pDcX0lJRsUfWovh5kAOHdILX8W53bcnE\",\n        \"client_secret\": \"tcRJQdy2s9bKoJAFJRSJh6ycHuBY2emo\",\n        \"scope\": \"sales\",\n        \"refresh_token\": refreshToken   \n    },\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "efd1a2a910ca1051"
            ]
        ]
    },
    {
        "id": "efd1a2a910ca1051",
        "type": "oauth2",
        "z": "a5270bf39d2b1e5f",
        "g": "7e1a2f9059f99060",
        "name": "Set by msg.oauth2Request",
        "container": "oauth2Response",
        "grant_type": "set_by_credentials",
        "access_token_url": "http://localhost:3000/oauth/token ",
        "username": "pedroet",
        "password": "",
        "client_id": "confidentialApplication",
        "client_secret": "topSecret",
        "scope": "*",
        "headers": {},
        "x": 660,
        "y": 240,
        "wires": [
            [
                "a8fca004e704e071"
            ]
        ]
    },
    {
        "id": "a8fca004e704e071",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "7e1a2f9059f99060",
        "name": "Set refreshToken",
        "func": "if (msg.oauth2Response.refreshToken) {\n    global.set('refreshToken',msg.oauth2Response.refreshToken);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 240,
        "wires": [
            [
                "9e9332c792dbdc01"
            ]
        ]
    },
    {
        "id": "9e9332c792dbdc01",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "7e1a2f9059f99060",
        "name": "Refresh Token",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1080,
        "y": 240,
        "wires": []
    },
    {
        "id": "d820ad4eae640b0c",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "466b68bd101cc969",
        "name": "Client Credentials",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 610,
        "y": 140,
        "wires": []
    },
    {
        "id": "1d606b2c0278a39d",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "e90afc02c540d6bf",
        "name": "List sellers",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 830,
        "y": 2200,
        "wires": []
    },
    {
        "id": "dbc564b793ab2147",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "520c4afdd2a2c58c",
        "name": "List sales by filters",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1350,
        "y": 1300,
        "wires": []
    },
    {
        "id": "7f682d4dd3a7350e",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "ad10637843808906",
        "name": "List products by filters (otherwise)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1060,
        "y": 1080,
        "wires": []
    },
    {
        "id": "523bdef02e031da3",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "8eb6a30e696f032d",
        "name": "List product categories",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1030,
        "y": 820,
        "wires": []
    },
    {
        "id": "b6a3304892da3876",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "d4955d968e26a214",
        "name": "sales-items",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1390,
        "y": 1500,
        "wires": []
    },
    {
        "id": "8394a30dc9e26b4a",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "d4955d968e26a214",
        "name": "List sale items by filters",
        "func": "let id = msg.payload.id;\nlet accessToken = global.get('accessToken');\n\nmsg.headers = {};\nmsg.headers['Authorization'] = 'Bearer ' + accessToken;\nmsg.url = \"https://api.contaazul.com/v1/sales/\" + id + \"/items\";\nmsg.contaazul = id;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1480,
        "wires": [
            [
                "38ba0d7fa969840f"
            ]
        ]
    },
    {
        "id": "559f581f0b47ea55",
        "type": "split",
        "z": "a5270bf39d2b1e5f",
        "g": "520c4afdd2a2c58c",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 990,
        "y": 1240,
        "wires": [
            [
                "85400eee0244b9bf"
            ]
        ]
    },
    {
        "id": "c3a4a71d41598827",
        "type": "change",
        "z": "a5270bf39d2b1e5f",
        "g": "3ce7547e36ce59f3",
        "name": "accessToken",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "accessToken",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 420,
        "wires": [
            [
                "1809fd1bf70e37c1"
            ]
        ]
    },
    {
        "id": "1809fd1bf70e37c1",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "3ce7547e36ce59f3",
        "name": "accessToken",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 670,
        "y": 420,
        "wires": []
    },
    {
        "id": "4127bb1788d9d2ac",
        "type": "inject",
        "z": "a5270bf39d2b1e5f",
        "g": "3ce7547e36ce59f3",
        "name": "Valida Variaveis Globais",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 200,
        "y": 500,
        "wires": [
            [
                "c3a4a71d41598827",
                "c3df22dd001e6edf",
                "1e3bb891e03d3d9a",
                "5b03b7211002b51c"
            ]
        ]
    },
    {
        "id": "c3df22dd001e6edf",
        "type": "change",
        "z": "a5270bf39d2b1e5f",
        "g": "3ce7547e36ce59f3",
        "name": "refreshToken",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "refreshToken",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 480,
        "wires": [
            [
                "415fb04725a88f1f"
            ]
        ]
    },
    {
        "id": "415fb04725a88f1f",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "3ce7547e36ce59f3",
        "name": "refreshToken",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "1e3bb891e03d3d9a",
        "type": "change",
        "z": "a5270bf39d2b1e5f",
        "g": "3ce7547e36ce59f3",
        "name": "tokenType",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "tokenType",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 540,
        "wires": [
            [
                "361f24fcab9e4941"
            ]
        ]
    },
    {
        "id": "361f24fcab9e4941",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "3ce7547e36ce59f3",
        "name": "tokenType",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "5b03b7211002b51c",
        "type": "change",
        "z": "a5270bf39d2b1e5f",
        "g": "3ce7547e36ce59f3",
        "name": "expiresIn",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "expiresIn",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 600,
        "wires": [
            [
                "7cbc36987152bf6d"
            ]
        ]
    },
    {
        "id": "7cbc36987152bf6d",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "3ce7547e36ce59f3",
        "name": "expiresIn",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 660,
        "y": 600,
        "wires": []
    },
    {
        "id": "38ba0d7fa969840f",
        "type": "http request",
        "z": "a5270bf39d2b1e5f",
        "g": "d4955d968e26a214",
        "name": "msg.url",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 860,
        "y": 1480,
        "wires": [
            [
                "e68697b67f6f0aa1"
            ]
        ]
    },
    {
        "id": "ec24e2f9a38a9c56",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "fdb14db95ecc5489",
        "name": "Get sale by id",
        "func": "let id = msg.payload.id;\nlet accessToken = global.get('accessToken');\n\nmsg.headers = {};\nmsg.headers['Authorization'] = 'Bearer ' + accessToken;\nmsg.url = \"https://api.contaazul.com/v1/sales/\" + id;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1620,
        "wires": [
            [
                "ccc79a9b87589a0d"
            ]
        ]
    },
    {
        "id": "e507970da3ab090e",
        "type": "http request",
        "z": "a5270bf39d2b1e5f",
        "g": "e90afc02c540d6bf",
        "name": "List services by filters",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.contaazul.com/v1/services",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 2140,
        "wires": [
            [
                "98b3bfc077fcc178"
            ]
        ]
    },
    {
        "id": "98b3bfc077fcc178",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "e90afc02c540d6bf",
        "name": "List services by filters",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 860,
        "y": 2140,
        "wires": []
    },
    {
        "id": "171b661d899461a7",
        "type": "inject",
        "z": "a5270bf39d2b1e5f",
        "g": "e90afc02c540d6bf",
        "name": "List services by filters",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "List services by filters",
        "x": 180,
        "y": 2140,
        "wires": [
            [
                "8363ee16734aa229"
            ]
        ]
    },
    {
        "id": "8363ee16734aa229",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "e90afc02c540d6bf",
        "name": "Authorization",
        "func": "let accessToken = global.get('accessToken');\n\nmsg.headers = {};\n//msg.headers['Authorization'] = 'Bearer xxx';\nmsg.headers['Authorization'] = 'Bearer ' + accessToken;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2140,
        "wires": [
            [
                "e507970da3ab090e"
            ]
        ]
    },
    {
        "id": "a9f089bb889079ba",
        "type": "inject",
        "z": "a5270bf39d2b1e5f",
        "g": "ad10637843808906",
        "name": "List products by filters",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "List products by filters",
        "x": 200,
        "y": 1000,
        "wires": [
            [
                "cf6a8a293a3416f0"
            ]
        ]
    },
    {
        "id": "cf6a8a293a3416f0",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "ad10637843808906",
        "name": "Authorization",
        "func": "let accessToken = global.get('accessToken');\n\nmsg.headers = {};\n//msg.headers['Authorization'] = 'Bearer xxx';\nmsg.headers['Authorization'] = 'Bearer ' + accessToken;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1000,
        "wires": [
            [
                "859a498192a464e6"
            ]
        ]
    },
    {
        "id": "00b57c33cfb11cbb",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "e90afc02c540d6bf",
        "name": "Authorization",
        "func": "let accessToken = global.get('accessToken');\n\nmsg.headers = {};\n//msg.headers['Authorization'] = 'Bearer xxx';\nmsg.headers['Authorization'] = 'Bearer ' + accessToken;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2200,
        "wires": [
            [
                "8668d2144ef6f1c7"
            ]
        ]
    },
    {
        "id": "a562bd5b29300458",
        "type": "inject",
        "z": "a5270bf39d2b1e5f",
        "g": "e90afc02c540d6bf",
        "name": "List sellers",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "List sellers",
        "x": 220,
        "y": 2200,
        "wires": [
            [
                "00b57c33cfb11cbb"
            ]
        ]
    },
    {
        "id": "e431d47ac20af172",
        "type": "http request",
        "z": "a5270bf39d2b1e5f",
        "g": "3b12e437c83e0daf",
        "name": "Get sales totals by filter",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.contaazul.com/v1/sales/totals",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 610,
        "y": 1780,
        "wires": [
            [
                "05e86e4e8d3d1d2e"
            ]
        ]
    },
    {
        "id": "bf22b8e71c4d831a",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "3b12e437c83e0daf",
        "name": "Get sales totals by filter",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1330,
        "y": 1780,
        "wires": []
    },
    {
        "id": "af4549b50d1d821d",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "3b12e437c83e0daf",
        "name": "Authorization",
        "func": "let accessToken = global.get('accessToken');\n\nmsg.headers = {};\n//msg.headers['Authorization'] = 'Bearer xxx';\nmsg.headers['Authorization'] = 'Bearer ' + accessToken;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1780,
        "wires": [
            [
                "e431d47ac20af172"
            ]
        ]
    },
    {
        "id": "f725e856f8536fa5",
        "type": "inject",
        "z": "a5270bf39d2b1e5f",
        "g": "3b12e437c83e0daf",
        "name": "Get sales totals by filter",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Get sales totals by filter",
        "x": 210,
        "y": 1780,
        "wires": [
            [
                "af4549b50d1d821d"
            ]
        ]
    },
    {
        "id": "7c80bb99fb8dd6cf",
        "type": "inject",
        "z": "a5270bf39d2b1e5f",
        "g": "520c4afdd2a2c58c",
        "name": "List sales",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "List sales",
        "x": 200,
        "y": 1280,
        "wires": [
            [
                "9e853932e5246287"
            ]
        ]
    },
    {
        "id": "9e853932e5246287",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "520c4afdd2a2c58c",
        "name": "Authorization",
        "func": "let accessToken = global.get('accessToken');\n\nmsg.headers = {};\n//msg.headers['Authorization'] = 'Bearer xxx';\nmsg.headers['Authorization'] = 'Bearer ' + accessToken;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1280,
        "wires": [
            [
                "bb85a7678e125257"
            ]
        ]
    },
    {
        "id": "b43dde4d98c875f2",
        "type": "http request",
        "z": "a5270bf39d2b1e5f",
        "g": "6096fe5c52cfd343",
        "name": "List customers by filters",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.contaazul.com/v1/customers?size=999",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 570,
        "y": 2000,
        "wires": [
            [
                "8ef7304f87a2b516"
            ]
        ]
    },
    {
        "id": "e94038d695093f33",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "6096fe5c52cfd343",
        "name": "List customers by filters",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1310,
        "y": 2000,
        "wires": []
    },
    {
        "id": "af723a6dc70c8d0c",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "6096fe5c52cfd343",
        "name": "Authorization",
        "func": "let accessToken = global.get('accessToken');\n\nmsg.headers = {};\n//msg.headers['Authorization'] = 'Bearer xxx';\nmsg.headers['Authorization'] = 'Bearer ' + accessToken;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2000,
        "wires": [
            [
                "b43dde4d98c875f2"
            ]
        ]
    },
    {
        "id": "d437ac64422b7229",
        "type": "inject",
        "z": "a5270bf39d2b1e5f",
        "g": "6096fe5c52cfd343",
        "name": "List customers by filters",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "List customers by filters",
        "x": 180,
        "y": 2000,
        "wires": [
            [
                "af723a6dc70c8d0c"
            ]
        ]
    },
    {
        "id": "7fd9165a4da698af",
        "type": "http request",
        "z": "a5270bf39d2b1e5f",
        "g": "e90afc02c540d6bf",
        "name": "Get current user plans",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.contaazul.com/v1/plans/current",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 580,
        "y": 2260,
        "wires": [
            [
                "9d8a234b6c840cec"
            ]
        ]
    },
    {
        "id": "9d8a234b6c840cec",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "e90afc02c540d6bf",
        "name": "Get current user plans",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 860,
        "y": 2260,
        "wires": []
    },
    {
        "id": "f1b30d04c9b97d4a",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "e90afc02c540d6bf",
        "name": "Authorization",
        "func": "let accessToken = global.get('accessToken');\n\nmsg.headers = {};\n//msg.headers['Authorization'] = 'Bearer xxx';\nmsg.headers['Authorization'] = 'Bearer ' + accessToken;\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 2260,
        "wires": [
            [
                "7fd9165a4da698af"
            ]
        ]
    },
    {
        "id": "72686b373891ff9a",
        "type": "inject",
        "z": "a5270bf39d2b1e5f",
        "g": "e90afc02c540d6bf",
        "name": "Get current user plans",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Get current user plans",
        "x": 180,
        "y": 2260,
        "wires": [
            [
                "f1b30d04c9b97d4a"
            ]
        ]
    },
    {
        "id": "85400eee0244b9bf",
        "type": "delay",
        "z": "a5270bf39d2b1e5f",
        "g": "520c4afdd2a2c58c",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1130,
        "y": 1240,
        "wires": [
            [
                "dbc564b793ab2147",
                "8394a30dc9e26b4a",
                "7bdb4f61e6364d06"
            ]
        ]
    },
    {
        "id": "3dfc0881926e24b1",
        "type": "inject",
        "z": "a5270bf39d2b1e5f",
        "g": "fdb14db95ecc5489",
        "name": "Get sale by id",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Get sale by id",
        "x": 170,
        "y": 1620,
        "wires": [
            [
                "9dc031fb3dd47809"
            ]
        ]
    },
    {
        "id": "9dc031fb3dd47809",
        "type": "change",
        "z": "a5270bf39d2b1e5f",
        "g": "fdb14db95ecc5489",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.id",
                "pt": "msg",
                "to": "d063ccd5-1e5f-4dc7-9409-15f4e8a15bd6",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 1620,
        "wires": [
            [
                "ec24e2f9a38a9c56"
            ]
        ]
    },
    {
        "id": "71b447e4ec057c50",
        "type": "inject",
        "z": "a5270bf39d2b1e5f",
        "g": "d4955d968e26a214",
        "name": "List sale items by filters",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "List sale items by filters",
        "x": 200,
        "y": 1480,
        "wires": [
            [
                "e5b6127830cd9203"
            ]
        ]
    },
    {
        "id": "e5b6127830cd9203",
        "type": "change",
        "z": "a5270bf39d2b1e5f",
        "g": "d4955d968e26a214",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.id",
                "pt": "msg",
                "to": "d063ccd5-1e5f-4dc7-9409-15f4e8a15bd6",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1480,
        "wires": [
            [
                "8394a30dc9e26b4a"
            ]
        ]
    },
    {
        "id": "690fdab22117e084",
        "type": "GSheet",
        "z": "a5270bf39d2b1e5f",
        "g": "8eb6a30e696f032d",
        "creds": "f131e02fdc178416",
        "method": "append",
        "action": "",
        "sheet": "xxx",
        "cells": "product_categories!A:Z",
        "flatten": false,
        "name": "product_categories",
        "x": 1590,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "04393361ea052f4e",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "8eb6a30e696f032d",
        "name": "GSHEET - product_categories",
        "func": "var id = msg.payload.id;\nvar name = msg.payload.name;\n\nmsg.payload = [id, name]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 760,
        "wires": [
            [
                "690fdab22117e084"
            ]
        ]
    },
    {
        "id": "8859ca37fde68cd8",
        "type": "split",
        "z": "a5270bf39d2b1e5f",
        "g": "8eb6a30e696f032d",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 970,
        "y": 760,
        "wires": [
            [
                "6e99bacf77e40947"
            ]
        ]
    },
    {
        "id": "8632dc1f7cae2e36",
        "type": "split",
        "z": "a5270bf39d2b1e5f",
        "g": "ad10637843808906",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 970,
        "y": 960,
        "wires": [
            [
                "4b96b4f4e88fa774"
            ]
        ]
    },
    {
        "id": "96f25beefd9f4ad8",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "ad10637843808906",
        "name": "GSHEET - List products by filters",
        "func": "var id = msg.payload.id || \"\";\nvar name = msg.payload.name || \"\";\nvar value = msg.payload.value || \"\";\nvar cost = msg.payload.cost || \"\";\nvar code = msg.payload.code || \"\";\nvar barcode = msg.payload.barcode || \"\";\nvar available_stock = msg.payload.available_stock || \"\";\nvar ncm_code = msg.payload.ncm_code || \"\";\nvar cest_code = msg.payload.cest_code || \"\";\nvar net_weight = msg.payload.net_weight || \"\";\nvar gross_weight = msg.payload.gross_weight || \"\";\nvar category_id = msg.payload.category.id || \"\";\nvar category_name = msg.payload.category.name || \"\";\nvar unit_measure = msg.payload.unit_measure || \"\";\nvar suppliers_id = msg.payload.suppliers.id || \"\";\nvar suppliers_name = msg.payload.suppliers.name || \"\";\n\nmsg.payload = [id, name, value, cost, code, barcode, available_stock, ncm_code, cest_code, net_weight, gross_weight, category_id, category_name, unit_measure, suppliers_id, suppliers_name]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 960,
        "wires": [
            [
                "2b4d93a7377daeb3"
            ]
        ]
    },
    {
        "id": "2b4d93a7377daeb3",
        "type": "GSheet",
        "z": "a5270bf39d2b1e5f",
        "g": "ad10637843808906",
        "creds": "f131e02fdc178416",
        "method": "append",
        "action": "",
        "sheet": "xxx",
        "cells": "products!A:P",
        "flatten": false,
        "name": "products",
        "x": 1600,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "4b96b4f4e88fa774",
        "type": "delay",
        "z": "a5270bf39d2b1e5f",
        "g": "ad10637843808906",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1120,
        "y": 960,
        "wires": [
            [
                "96f25beefd9f4ad8"
            ]
        ]
    },
    {
        "id": "6e99bacf77e40947",
        "type": "delay",
        "z": "a5270bf39d2b1e5f",
        "g": "8eb6a30e696f032d",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1120,
        "y": 760,
        "wires": [
            [
                "04393361ea052f4e"
            ]
        ]
    },
    {
        "id": "6d1cc2dfd3f1a263",
        "type": "switch",
        "z": "a5270bf39d2b1e5f",
        "g": "ad10637843808906",
        "name": "statusCode 200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 780,
        "y": 1000,
        "wires": [
            [
                "8632dc1f7cae2e36",
                "2456fb26facc2e13"
            ],
            [
                "7f682d4dd3a7350e"
            ]
        ]
    },
    {
        "id": "2456fb26facc2e13",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "ad10637843808906",
        "name": "List products by filters (code 200)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1060,
        "y": 1020,
        "wires": []
    },
    {
        "id": "288faaaba62e9a21",
        "type": "switch",
        "z": "a5270bf39d2b1e5f",
        "g": "520c4afdd2a2c58c",
        "name": "statusCode 200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 800,
        "y": 1280,
        "wires": [
            [
                "559f581f0b47ea55"
            ],
            [
                "42652ca971069b48"
            ]
        ]
    },
    {
        "id": "42652ca971069b48",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "520c4afdd2a2c58c",
        "name": "List sales by filters (otherwise)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1050,
        "y": 1320,
        "wires": []
    },
    {
        "id": "7bdb4f61e6364d06",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "520c4afdd2a2c58c",
        "name": "GSHEET - List sales by filters",
        "func": "var id = msg.payload.id || \"\";\nvar ca_id = msg.payload.ca_id || \"\";\nvar number = msg.payload.number || \"\";\nvar emission = msg.payload.emission || \"\";\nvar status = msg.payload.status || \"\";\nvar scheduled = msg.payload.scheduled || \"\";\nvar customer_id = msg.payload.customer.id || \"\";\nvar customer_name = msg.payload.customer.name || \"\";\nvar discount = msg.payload.discount || \"\";\nvar product_discount = msg.payload.product_discount || \"\";\nvar service_discount = msg.payload.service_discount || \"\";\nvar payment_type = msg.payload.payment.type || \"\";\nvar payment_method = msg.payload.payment.method || \"\";\nvar payment_terms = msg.payload.payment_terms || \"\";\nvar notes = msg.payload.notes || \"\";\nvar shipping_cost = msg.payload.shipping_cost || \"\";\nvar shipping_forecast = msg.payload.id || \"\";\nvar total = msg.payload.total || \"\";\nvar proposal_date = msg.payload.proposal_date || \"\";\nvar expiration = msg.payload.expiration || \"\";\nvar introduction = msg.payload.introduction || \"\";\nvar shipping_forecast = msg.payload.shipping_forecast || \"\";\nvar category_id = msg.payload.category_id || \"\";\n\nmsg.payload = [\n    id,\n    ca_id,\n    number,\n    emission,\n    status,\n    scheduled,\n    customer_id,\n    customer_name,\n    discount,\n    product_discount,\n    service_discount,\n    payment_type,\n    payment_method,\n    payment_terms,\n    notes,\n    shipping_cost,\n    shipping_forecast,\n    total,\n    proposal_date,\n    expiration,\n    introduction,\n    shipping_forecast,\n    category_id\n    ]\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 1240,
        "wires": [
            [
                "09f28a6bb15a86f2"
            ]
        ]
    },
    {
        "id": "09f28a6bb15a86f2",
        "type": "GSheet",
        "z": "a5270bf39d2b1e5f",
        "g": "520c4afdd2a2c58c",
        "creds": "f131e02fdc178416",
        "method": "append",
        "action": "",
        "sheet": "xxx",
        "cells": "sales!A:Z",
        "flatten": false,
        "name": "sales",
        "x": 1610,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "aa7d344c640480bd",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "520c4afdd2a2c58c",
        "name": "List sales by filters",
        "func": "//const date = new Date();\n//let day = date.getDate();\n//let month = date.getMonth() + 1;\n//let year = date.getFullYear();\n\n// This arrangement can be altered based on how we want the date's format to appear.\n//let currentDate = `${year}-${month}-${day}`;\nlet currentDate = new Date().toJSON().slice(0, 10);\n\nvar emission_start = currentDate;\nvar emission_end = currentDate;\n\nlet accessToken = global.get('accessToken');\n\nmsg.headers = {};\nmsg.headers['Authorization'] = 'Bearer ' + accessToken;\nmsg.url = \"https://api.contaazul.com/v1/sales?emission_start=\" + emission_start + \"&emission_end=\" + emission_end;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1340,
        "wires": [
            [
                "e2c59302d572a28d"
            ]
        ]
    },
    {
        "id": "e2c59302d572a28d",
        "type": "http request",
        "z": "a5270bf39d2b1e5f",
        "g": "520c4afdd2a2c58c",
        "name": "msg.url",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 660,
        "y": 1340,
        "wires": [
            [
                "288faaaba62e9a21"
            ]
        ]
    },
    {
        "id": "db8917699fd33413",
        "type": "inject",
        "z": "a5270bf39d2b1e5f",
        "g": "520c4afdd2a2c58c",
        "name": "List sales by filters date",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "List sales by filters date",
        "x": 210,
        "y": 1340,
        "wires": [
            [
                "aa7d344c640480bd"
            ]
        ]
    },
    {
        "id": "2c35938c1ab9765d",
        "type": "switch",
        "z": "a5270bf39d2b1e5f",
        "g": "8eb6a30e696f032d",
        "name": "statusCode 200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 800,
        "y": 820,
        "wires": [
            [
                "8859ca37fde68cd8",
                "523bdef02e031da3"
            ],
            []
        ]
    },
    {
        "id": "05e86e4e8d3d1d2e",
        "type": "switch",
        "z": "a5270bf39d2b1e5f",
        "g": "3b12e437c83e0daf",
        "name": "statusCode 200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 820,
        "y": 1780,
        "wires": [
            [
                "40265c08de68bbd9"
            ],
            [
                "36617a0d11f502d9"
            ]
        ]
    },
    {
        "id": "72ea348eb03bafbb",
        "type": "delay",
        "z": "a5270bf39d2b1e5f",
        "g": "3b12e437c83e0daf",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1130,
        "y": 1740,
        "wires": [
            [
                "1cf8e60b301c5103",
                "bf22b8e71c4d831a"
            ]
        ]
    },
    {
        "id": "1cf8e60b301c5103",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "3b12e437c83e0daf",
        "name": "GSHEET - Get sales totals by filter",
        "func": "var date = new Date().toISOString();\nvar pending = msg.payload.PENDING.total || \"\";\nvar proposal_accepted = msg.payload.PROPOSAL_ACCEPTED.total || \"\";\nvar committed = msg.payload.COMMITTED.total || \"\";\nvar proposal = msg.payload.PROPOSAL.total || \"\";\nvar total = msg.payload.TOTAL.total || \"\";\n\nmsg.payload = [\n    date,\n    pending,\n    committed,\n    proposal,\n    proposal_accepted,\n    total\n    ]\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 1740,
        "wires": [
            [
                "5c8d657e91f0bf57"
            ]
        ]
    },
    {
        "id": "5c8d657e91f0bf57",
        "type": "GSheet",
        "z": "a5270bf39d2b1e5f",
        "g": "3b12e437c83e0daf",
        "creds": "f131e02fdc178416",
        "method": "append",
        "action": "",
        "sheet": "xxx",
        "cells": "sales_totais!A:Z",
        "flatten": false,
        "name": "sales_totais",
        "x": 1590,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "40265c08de68bbd9",
        "type": "split",
        "z": "a5270bf39d2b1e5f",
        "g": "3b12e437c83e0daf",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 990,
        "y": 1740,
        "wires": [
            [
                "72ea348eb03bafbb"
            ]
        ]
    },
    {
        "id": "8ef7304f87a2b516",
        "type": "switch",
        "z": "a5270bf39d2b1e5f",
        "g": "6096fe5c52cfd343",
        "name": "statusCode 200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 780,
        "y": 2000,
        "wires": [
            [
                "837c90f110656909"
            ],
            [
                "9bde48f6bc610288"
            ]
        ]
    },
    {
        "id": "837c90f110656909",
        "type": "split",
        "z": "a5270bf39d2b1e5f",
        "g": "6096fe5c52cfd343",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 950,
        "y": 1960,
        "wires": [
            [
                "0649b31b191683d2"
            ]
        ]
    },
    {
        "id": "0649b31b191683d2",
        "type": "delay",
        "z": "a5270bf39d2b1e5f",
        "g": "6096fe5c52cfd343",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1100,
        "y": 1960,
        "wires": [
            [
                "8aafeac1723a951f",
                "e94038d695093f33"
            ]
        ]
    },
    {
        "id": "8aafeac1723a951f",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "6096fe5c52cfd343",
        "name": "GSHEET - List customers by filters",
        "func": "var id = msg.payload.id || \"\";\nvar name = msg.payload.name || \"\";\nvar company_name = msg.payload.company_name || \"\";\nvar email = msg.payload.email || \"\";\nvar business_phone = msg.payload.business_phone || \"\";\nvar mobile_phone = msg.payload.mobile_phone || \"\";\nvar person_type = msg.payload.person_type || \"\";\nvar document = msg.payload.document || \"\";\nvar identity_document = msg.payload.identity_document || \"\";\nvar state_registration_number = msg.payload.state_registration_number || \"\";\nvar state_registration_type = msg.payload.state_registration_type || \"\";\nvar city_registration_number = msg.payload.city_registration_number || \"\";\nvar date_of_birth = msg.payload.date_of_birth || \"\";\nvar notes = msg.payload.notes || \"\";\nvar created_at = msg.payload.created_at || \"\";\n\n\nmsg.payload = [\n    id,\n    name,\n    company_name,\n    email,\n    business_phone,\n    mobile_phone,\n    person_type,\n    document,\n    identity_document,\n    state_registration_number,\n    state_registration_type,\n    city_registration_number,\n    date_of_birth,\n    notes,\n    created_at\n    ]\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1960,
        "wires": [
            [
                "e926df5e9fdd5f13"
            ]
        ]
    },
    {
        "id": "e926df5e9fdd5f13",
        "type": "GSheet",
        "z": "a5270bf39d2b1e5f",
        "g": "6096fe5c52cfd343",
        "creds": "f131e02fdc178416",
        "method": "append",
        "action": "",
        "sheet": "xxx",
        "cells": "customers!A:Z",
        "flatten": false,
        "name": "customers",
        "x": 1570,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "9bde48f6bc610288",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "6096fe5c52cfd343",
        "name": "List customers by filters (otherwise)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1040,
        "y": 2040,
        "wires": []
    },
    {
        "id": "36617a0d11f502d9",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "3b12e437c83e0daf",
        "name": "Get sales totals by filter (otherwise)",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1080,
        "y": 1820,
        "wires": []
    },
    {
        "id": "e68697b67f6f0aa1",
        "type": "switch",
        "z": "a5270bf39d2b1e5f",
        "g": "d4955d968e26a214",
        "name": "statusCode 200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1020,
        "y": 1480,
        "wires": [
            [
                "ac1058c7e9d5117f"
            ],
            []
        ]
    },
    {
        "id": "44f4dc20024c4528",
        "type": "delay",
        "z": "a5270bf39d2b1e5f",
        "g": "d4955d968e26a214",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1380,
        "y": 1440,
        "wires": [
            [
                "3576871ba80bd4c5",
                "b6a3304892da3876"
            ]
        ]
    },
    {
        "id": "3576871ba80bd4c5",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "d4955d968e26a214",
        "name": "GSHEET - List sale items by filters",
        "func": "var id_sale = msg.contaazul || \"\";\nvar description = msg.payload.description || \"\";\nvar quantity = msg.payload.quantity || \"\";\nvar item_id = msg.payload.item.id || \"\";\nvar item_name = msg.payload.item.name || \"\";\nvar item_value = msg.payload.item.value || \"\";\nvar item_cost = msg.payload.item.cost || \"\";\nvar itemType = msg.payload.itemType || \"\";\nvar value = msg.payload.item.value || \"\";\nvar item_id = msg.payload.item.id || \"\";\n\n\nmsg.payload = [\n    id_sale,\n    description,\n    quantity,\n    item_id,\n    item_name,\n    item_value,\n    item_cost,\n    itemType,\n    value,\n    item_id\n    ]\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 1440,
        "wires": [
            [
                "7f14a77456407be8"
            ]
        ]
    },
    {
        "id": "ac1058c7e9d5117f",
        "type": "split",
        "z": "a5270bf39d2b1e5f",
        "g": "d4955d968e26a214",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1230,
        "y": 1440,
        "wires": [
            [
                "44f4dc20024c4528"
            ]
        ]
    },
    {
        "id": "7f14a77456407be8",
        "type": "GSheet",
        "z": "a5270bf39d2b1e5f",
        "g": "d4955d968e26a214",
        "creds": "f131e02fdc178416",
        "method": "append",
        "action": "",
        "sheet": "xxx",
        "cells": "sales_items!A:Z",
        "flatten": false,
        "name": "sales_items",
        "x": 1830,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "ccc79a9b87589a0d",
        "type": "http request",
        "z": "a5270bf39d2b1e5f",
        "g": "fdb14db95ecc5489",
        "name": "msg.url",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 720,
        "y": 1620,
        "wires": [
            [
                "56d7c30edea5a455"
            ]
        ]
    },
    {
        "id": "56d7c30edea5a455",
        "type": "switch",
        "z": "a5270bf39d2b1e5f",
        "g": "fdb14db95ecc5489",
        "name": "statusCode 200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 880,
        "y": 1620,
        "wires": [
            [
                "d88f4d039f040eac"
            ],
            []
        ]
    },
    {
        "id": "d88f4d039f040eac",
        "type": "delay",
        "z": "a5270bf39d2b1e5f",
        "g": "fdb14db95ecc5489",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1100,
        "y": 1600,
        "wires": [
            [
                "6db64c6ff1f76750",
                "8394a30dc9e26b4a"
            ]
        ]
    },
    {
        "id": "6db64c6ff1f76750",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "fdb14db95ecc5489",
        "name": "GSHEET - List sales by filters",
        "func": "var id = msg.payload.id || \"\";\nvar ca_id = msg.payload.ca_id || \"\";\nvar number = msg.payload.number || \"\";\nvar emission = msg.payload.emission || \"\";\nvar status = msg.payload.status || \"\";\nvar scheduled = msg.payload.scheduled || \"\";\nvar customer_id = msg.payload.customer.id || \"\";\nvar customer_name = msg.payload.customer.name || \"\";\nvar discount = msg.payload.discount || \"\";\nvar product_discount = msg.payload.product_discount || \"\";\nvar service_discount = msg.payload.service_discount || \"\";\nvar payment_type = msg.payload.payment.type || \"\";\nvar payment_method = msg.payload.payment.method || \"\";\nvar payment_terms = msg.payload.payment_terms || \"\";\nvar notes = msg.payload.notes || \"\";\nvar shipping_cost = msg.payload.shipping_cost || \"\";\nvar shipping_forecast = msg.payload.id || \"\";\nvar total = msg.payload.total || \"\";\nvar proposal_date = msg.payload.proposal_date || \"\";\nvar expiration = msg.payload.expiration || \"\";\nvar introduction = msg.payload.introduction || \"\";\nvar shipping_forecast = msg.payload.shipping_forecast || \"\";\nvar category_id = msg.payload.category_id || \"\";\n\nmsg.payload = [\n    id,\n    ca_id,\n    number,\n    emission,\n    status,\n    scheduled,\n    customer_id,\n    customer_name,\n    discount,\n    product_discount,\n    service_discount,\n    payment_type,\n    payment_method,\n    payment_terms,\n    notes,\n    shipping_cost,\n    shipping_forecast,\n    total,\n    proposal_date,\n    expiration,\n    introduction,\n    shipping_forecast,\n    category_id\n    ]\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 1600,
        "wires": [
            [
                "6497d0e79437e766"
            ]
        ]
    },
    {
        "id": "6497d0e79437e766",
        "type": "GSheet",
        "z": "a5270bf39d2b1e5f",
        "g": "fdb14db95ecc5489",
        "creds": "f131e02fdc178416",
        "method": "append",
        "action": "",
        "sheet": "xxx",
        "cells": "sales!A:Z",
        "flatten": false,
        "name": "sales",
        "x": 1530,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "10d7fda56335549d",
        "type": "oauth2",
        "z": "a5270bf39d2b1e5f",
        "g": "466b68bd101cc969",
        "name": "",
        "container": "oauth2Response",
        "grant_type": "authorization_code",
        "access_token_url": " https://api.contaazul.com/oauth2/token",
        "authorization_endpoint": "https://api.contaazul.com/auth/authorize",
        "redirect_uri": "/oauth2/redirect_uri",
        "open_authentication": "",
        "username": "",
        "password": "",
        "client_id": "QwkQtN5hQVHWVfpJDr7J1pamiWjvFDeo",
        "client_secret": "Sra1MkjDU18SdsO5GTOz6hlTnMvthWM0",
        "scope": "sales",
        "client_credentials_in_body": false,
        "rejectUnauthorized": true,
        "headers": {},
        "x": 370,
        "y": 140,
        "wires": [
            [
                "ceee711fb518653f",
                "d820ad4eae640b0c"
            ]
        ]
    },
    {
        "id": "4030c52c.c2c29c",
        "type": "inject",
        "z": "a5270bf39d2b1e5f",
        "g": "7e1a2f9059f99060",
        "name": "Refresh Token",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "31727a2c.05a026"
            ]
        ]
    },
    {
        "id": "31727a2c.05a026",
        "type": "function",
        "z": "a5270bf39d2b1e5f",
        "g": "7e1a2f9059f99060",
        "name": "SETTING REQUEST",
        "func": "var REFRESH_TOKEN = global.get('refreshToken');\nvar ACCESS_TOKEN = global.get('accessToken');\n\nmsg.method = \"POST\"\nmsg.url = `https://api.contaazul.com/oauth2/token?grant_type=refresh_token&refresh_token=${REFRESH_TOKEN}`\nmsg.headers = {}\nmsg.headers[\"content-type\"] = \"application/json\"\nmsg.headers[\"Authorization\"] = `Bearer ${ACCESS_TOKEN}`;\n\n// var teach = teach\n// var loop = loop\n// msg.payload = [{\n//     \"mode\":teach,\n//     \"loop\":1\n// }]\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "64d9243f.b7be7c"
            ]
        ]
    },
    {
        "id": "64d9243f.b7be7c",
        "type": "http request",
        "z": "a5270bf39d2b1e5f",
        "g": "7e1a2f9059f99060",
        "name": "HTTP-REQUEST",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 770,
        "y": 320,
        "wires": [
            [
                "3b67977c.a53c08"
            ]
        ]
    },
    {
        "id": "3b67977c.a53c08",
        "type": "debug",
        "z": "a5270bf39d2b1e5f",
        "g": "7e1a2f9059f99060",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1090,
        "y": 320,
        "wires": []
    },
    {
        "id": "fa297a2263ccab64",
        "type": "debug",
        "z": "ee01ea9dc7f8444d",
        "g": "c11eb7aff843bd09",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 120,
        "wires": []
    },
    {
        "id": "b09fcda36b29337e",
        "type": "oauth2",
        "z": "ee01ea9dc7f8444d",
        "g": "c11eb7aff843bd09",
        "name": "Client Credentials",
        "container": "oauth2Response",
        "grant_type": "client_credentials",
        "access_token_url": "http://localhost:3000/oauth/token ",
        "username": "pedroet",
        "password": "",
        "client_id": "confidentialApplication",
        "client_secret": "topSecret",
        "scope": "*",
        "rejectUnauthorized": true,
        "headers": {},
        "x": 710,
        "y": 100,
        "wires": [
            [
                "92a15df57cfde3ad"
            ]
        ]
    },
    {
        "id": "68ce0e033979d11d",
        "type": "inject",
        "z": "ee01ea9dc7f8444d",
        "g": "c11eb7aff843bd09",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "b09fcda36b29337e"
            ]
        ]
    },
    {
        "id": "6adbb00a164f0d30",
        "type": "inject",
        "z": "ee01ea9dc7f8444d",
        "g": "dbf002e7839fdaf4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 300,
        "wires": [
            [
                "5eedef6eb8215636"
            ]
        ]
    },
    {
        "id": "5eedef6eb8215636",
        "type": "function",
        "z": "ee01ea9dc7f8444d",
        "g": "dbf002e7839fdaf4",
        "name": "Refresh Token",
        "func": "let refreshToken = global.get('refreshToken');\n\nmsg.oauth2Request = { \n    \"access_token_url\": \"http://localhost:3000/oauth/token\",\n    \"credentials\": {\n        \"grant_type\": \"refresh_token\",\n        \"client_id\": \"application\",\n        \"client_secret\": \"secret\",\n        \"scope\": \"*\",\n        \"refresh_token\": refreshToken   \n    },\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 300,
        "wires": [
            [
                "0dbd3192fc8e6d8f"
            ]
        ]
    },
    {
        "id": "bbb398a4c6b6581d",
        "type": "oauth2",
        "z": "ee01ea9dc7f8444d",
        "g": "dbf002e7839fdaf4",
        "name": "Set by msg.oauth2Request",
        "container": "oauth2Response",
        "grant_type": "set_by_credentials",
        "access_token_url": "http://localhost:3000/oauth/token ",
        "username": "pedroet",
        "password": "",
        "client_id": "confidentialApplication",
        "client_secret": "topSecret",
        "scope": "*",
        "rejectUnauthorized": true,
        "headers": {},
        "x": 720,
        "y": 300,
        "wires": [
            [
                "1f9670457ea0fdeb"
            ]
        ]
    },
    {
        "id": "5f5889fc9873830c",
        "type": "function",
        "z": "ee01ea9dc7f8444d",
        "g": "dbf002e7839fdaf4",
        "name": "Password",
        "func": "msg.oauth2Request = { \n    \"access_token_url\": \"http://localhost:3000/oauth/token\",\n    \"credentials\": {\n        \"grant_type\": \"password\",\n        \"client_id\": \"application\",\n        \"client_secret\": \"secret\",\n        \"scope\": \"*\",\n        \"username\": \"pedroetb\",\n        \"password\": \"password\"   \n    },\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 260,
        "wires": [
            [
                "0dbd3192fc8e6d8f"
            ]
        ]
    },
    {
        "id": "aa78cee9cf6b05a4",
        "type": "debug",
        "z": "ee01ea9dc7f8444d",
        "g": "dbf002e7839fdaf4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 300,
        "wires": []
    },
    {
        "id": "e92113c4c92e02b9",
        "type": "inject",
        "z": "ee01ea9dc7f8444d",
        "g": "dbf002e7839fdaf4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "5f5889fc9873830c"
            ]
        ]
    },
    {
        "id": "1f9670457ea0fdeb",
        "type": "function",
        "z": "ee01ea9dc7f8444d",
        "g": "dbf002e7839fdaf4",
        "name": "Set refreshToken",
        "func": "if (msg.oauth2Response.refreshToken) {\n    global.set('refreshToken',msg.oauth2Response.refreshToken);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 300,
        "wires": [
            [
                "aa78cee9cf6b05a4"
            ]
        ]
    },
    {
        "id": "457c466345b3c830",
        "type": "oauth2",
        "z": "ee01ea9dc7f8444d",
        "g": "c11eb7aff843bd09",
        "name": "Password",
        "container": "oauth2Response",
        "grant_type": "password",
        "access_token_url": "http://localhost:3000/oauth/token ",
        "username": "pedroetb",
        "password": "password",
        "client_id": "application",
        "client_secret": "secret",
        "scope": "*",
        "rejectUnauthorized": true,
        "headers": {},
        "x": 740,
        "y": 160,
        "wires": [
            [
                "92a15df57cfde3ad"
            ]
        ]
    },
    {
        "id": "be9f8d3e5126b0aa",
        "type": "inject",
        "z": "ee01ea9dc7f8444d",
        "g": "c11eb7aff843bd09",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "457c466345b3c830"
            ]
        ]
    },
    {
        "id": "00bcb23670663c56",
        "type": "function",
        "z": "ee01ea9dc7f8444d",
        "g": "dbf002e7839fdaf4",
        "name": "Client Credentials",
        "func": "msg.oauth2Request = { \n    \"access_token_url\": \"http://localhost:3000/oauth/token\",\n    \"credentials\": {\n        \"grant_type\": \"client_credentials\",\n        \"client_id\": \"confidentialApplication\",\n        \"client_secret\": \"topSecret\",\n        \"scope\": \"*\"\n    },\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 340,
        "wires": [
            [
                "0dbd3192fc8e6d8f"
            ]
        ]
    },
    {
        "id": "da4c05becf924c6a",
        "type": "inject",
        "z": "ee01ea9dc7f8444d",
        "g": "dbf002e7839fdaf4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "00bcb23670663c56"
            ]
        ]
    },
    {
        "id": "41140191adba1afc",
        "type": "function",
        "z": "ee01ea9dc7f8444d",
        "g": "c11eb7aff843bd09",
        "name": "Set accessToken",
        "func": "if (msg.oauth2Response.accessToken) {\n    global.set('accessToken', msg.oauth2Response.accessToken);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 120,
        "wires": [
            [
                "fa297a2263ccab64"
            ]
        ]
    }
]
